In [34]:

import pandas as pd
import numpy as np

In [7]:
url="https://www.stat.fi/fi/luokitukset/corrmaps/export/kunta_1_20200101%23tyossakayntial_1_20200101/"

In [48]:
f = lambda x : (x.replace("'", ""))
tkalue=pd.read_csv(url, sep=";", encoding="ISO-8859-1", skiprows=4, 
            low_memory=False, names=['Kuntanumero', 'Kunta', 'Tkaluenumero', 'Tkalue'],
            converters = {'Kuntanumero':f, 'Tkaluenumero':f})
tkalue = tkalue.apply(pd.to_numeric, errors='ignore')

In [83]:
tkal = pd.DataFrame(tkalue['Tkalue'].unique(),columns=['Tkalue'])

In [92]:
pd.DataFrame(tkalue['Tkalue'].unique(),columns=['Tkalue'])

                     Kunta
0        Tampereen tk-alue
1        Alajärven tk-alue
2               Ei tk-alue
3           Lahden tk-alue
4        Helsingin tk-alue
5            Turun tk-alue
6   Maarianhaminan tk-alue
7      Savonlinnan tk-alue
8           Rauman tk-alue
9            Oulun tk-alue
10          Kotkan tk-alue
11      Jyväskylän tk-alue
12           Porin tk-alue
13        Mikkelin tk-alue
14     Kankaanpään tk-alue
15        Kajaanin tk-alue
16        Iisalmen tk-alue
17        Kouvolan tk-alue
18       Seinäjoen tk-alue
19        Joensuun tk-alue
20   Lappeenrannan tk-alue
21          Vaasan tk-alue
22       Varkauden tk-alue
23          Jämsän tk-alue
24         Kuopion tk-alue
25        Kokkolan tk-alue
26         Närpiön tk-alue
27       Kauhajoen tk-alue
28           Kemin tk-alue
29  Uudenkaupungin tk-alue
30         Loimaan tk-alue
31          Raahen tk-alue

In [91]:
tkal['Tkalue'].str[:4]

0     Tamp
1     Alaj
2     Ei t
3     Lahd
4     Hels
5     Turu
6     Maar
7     Savo
8     Raum
9     Oulu
10    Kotk
11    Jyvä
12    Pori
13    Mikk
14    Kank
15    Kaja
16    Iisa
17    Kouv
18    Sein
19    Joen
20    Lapp
21    Vaas
22    Vark
23    Jäms
24    Kuop
25    Kokk
26    Närp
27    Kauh
28    Kemi
29    Uude
30    Loim
31    Raah
Name: Tkalue, dtype: object

In [87]:

def find_kunta(item):
    print(tkal[tkal['Tkalue'].str[:5]==item])
tkalue['Tkalue'].str[:5].apply(find_kunta)

              Tkalue
0  Tampereen tk-alue
              Tkalue
1  Alajärven tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
           Tkalue
3  Lahden tk-alue
              Tkalue
4  Helsingin tk-alue
          Tkalue
5  Turun tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
                Tkalue
7  Savonlinnan tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
4  Helsingin tk-alue
       Tkalue
2  Ei tk-alue
           Tkalue
8  Rauman tk-alue
       Tkalue
2  Ei tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
       Tkalue
2  Ei tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
          Tkalue
9  Oulun tk-alue
       Tkalue
2  Ei tk-alue
            Tkalue
10  Kotkan tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
                Tkalue
11  Jyväskylän tk-alue
       Tkalue
2  Ei tk-alue
           Tkalue
12  Porin tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
4  Helsingin tk-alue
           Tkalue
3  Lahden tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
4  Helsingin tk-alue
              Tkalue
13  Mikkelin tk-alue
           Tkalue
3  Lahden tk-alue
                 Tkalue
14  Kankaanpään tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
15  Kajaanin tk-alue
              Tkalue
4  Helsingin tk-alue
              Tkalue
0  Tampereen tk-alue
       Tkalue
2  Ei tk-alue
          Tkalue
9  Oulun tk-alue
              Tkalue
16  Iisalmen tk-alue
              Tkalue
17  Kouvolan tk-alue
              Tkalue
0  Tampereen tk-alue
               Tkalue
18  Seinäjoen tk-alue
              Tkalue
19  Joensuun tk-alue
                   Tkalue
20  Lappeenrannan tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
4  Helsingin tk-alue
       Tkalue
2  Ei tk-alue
            Tkalue
21  Vaasan tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
19  Joensuun tk-alue
       Tkalue
2  Ei tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
               Tkalue
22  Varkauden tk-alue
                Tkalue
11  Jyväskylän tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
0  Tampereen tk-alue
              Tkalue
13  Mikkelin tk-alue
                Tkalue
11  Jyväskylän tk-alue
                 Tkalue
14  Kankaanpään tk-alue
            Tkalue
23  Jämsän tk-alue
              Tkalue
4  Helsingin tk-alue
          Tkalue
5  Turun tk-alue
             Tkalue
24  Kuopion tk-alue
              Tkalue
15  Kajaanin tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
0  Tampereen tk-alue
       Tkalue
2  Ei tk-alue
                 Tkalue
14  Kankaanpään tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
25  Kokkolan tk-alue
             Tkalue
26  Närpiön tk-alue
              Tkalue
4  Helsingin tk-alue
       Tkalue
2  Ei tk-alue
                 Tkalue
14  Kankaanpään tk-alue
             Tkalue
26  Närpiön tk-alue
               Tkalue
27  Kauhajoen tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
4  Helsingin tk-alue
              Tkalue
25  Kokkolan tk-alue
       Tkalue
2  Ei tk-alue
           Tkalue
28  Kemin tk-alue
       Tkalue
2  Ei tk-alue
           Tkalue
28  Kemin tk-alue
       Tkalue
2  Ei tk-alue
          Tkalue
9  Oulun tk-alue
              Tkalue
4  Helsingin tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
4  Helsingin tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
16  Iisalmen tk-alue
       Tkalue
2  Ei tk-alue
           Tkalue
12  Porin tk-alue
              Tkalue
25  Kokkolan tk-alue
       Tkalue
2  Ei tk-alue
                Tkalue
11  Jyväskylän tk-alue
              Tkalue
19  Joensuun tk-alue
            Tkalue
21  Vaasan tk-alue
       Tkalue
2  Ei tk-alue
            Tkalue
10  Kotkan tk-alue
              Tkalue
17  Kouvolan tk-alue
             Tkalue
26  Närpiön tk-alue
              Tkalue
25  Kokkolan tk-alue
       Tkalue
2  Ei tk-alue
            Tkalue
23  Jämsän tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
             Tkalue
24  Kuopion tk-alue
               Tkalue
18  Seinäjoen tk-alue
               Tkalue
18  Seinäjoen tk-alue
          Tkalue
5  Turun tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
           Tkalue
3  Lahden tk-alue
       Tkalue
2  Ei tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
           Tkalue
3  Lahden tk-alue
            Tkalue
21  Vaasan tk-alue
                    Tkalue
29  Uudenkaupungin tk-alue
              Tkalue
4  Helsingin tk-alue
              Tkalue
16  Iisalmen tk-alue
       Tkalue
2  Ei tk-alue
                   Tkalue
20  Lappeenrannan tk-alue
               Tkalue
18  Seinäjoen tk-alue
                Tkalue
11  Jyväskylän tk-alue
                   Tkalue
20  Lappeenrannan tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
              Tkalue
0  Tampereen tk-alue
             Tkalue
24  Kuopion tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
          Tkalue
5  Turun tk-alue
          Tkalue
9  Oulun tk-alue
              Tkalue
19  Joensuun tk-alue
              Tkalue
4  Helsingin tk-alue
             Tkalue
30  Loimaan tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
4  Helsingin tk-alue
                Tkalue
11  Jyväskylän tk-alue
          Tkalue
9  Oulun tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
       Tkalue
2  Ei tk-alue
                   Tkalue
20  Lappeenrannan tk-alue
            Tkalue
21  Vaasan tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
          Tkalue
5  Turun tk-alue
          Tkalue
5  Turun tk-alue
       Tkalue
2  Ei tk-alue
           Tkalue
12  Porin tk-alue
            Tkalue
10  Kotkan tk-alue
              Tkalue
13  Mikkelin tk-alue
          Tkalue
9  Oulun tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
            Tkalue
21  Vaasan tk-alue
                Tkalue
11  Jyväskylän tk-alue
          Tkalue
5  Turun tk-alue
              Tkalue
4  Helsingin tk-alue
              Tkalue
4  Helsingin tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
13  Mikkelin tk-alue
          Tkalue
5  Turun tk-alue
           Tkalue
12  Porin tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
0  Tampereen tk-alue
          Tkalue
5  Turun tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
4  Helsingin tk-alue
             Tkalue
26  Närpiön tk-alue
           Tkalue
3  Lahden tk-alue
             Tkalue
30  Loimaan tk-alue
              Tkalue
0  Tampereen tk-alue
       Tkalue
2  Ei tk-alue
          Tkalue
9  Oulun tk-alue
              Tkalue
19  Joensuun tk-alue
           Tkalue
3  Lahden tk-alue
          Tkalue
5  Turun tk-alue
              Tkalue
15  Kajaanin tk-alue
          Tkalue
5  Turun tk-alue
                Tkalue
7  Savonlinnan tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
                Tkalue
11  Jyväskylän tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
0  Tampereen tk-alue
              Tkalue
19  Joensuun tk-alue
           Tkalue
12  Porin tk-alue
           Tkalue
12  Porin tk-alue
              Tkalue
4  Helsingin tk-alue
              Tkalue
4  Helsingin tk-alue
       Tkalue
2  Ei tk-alue
          Tkalue
9  Oulun tk-alue
              Tkalue
4  Helsingin tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
            Tkalue
10  Kotkan tk-alue
            Tkalue
31  Raahen tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
           Tkalue
8  Rauman tk-alue
              Tkalue
0  Tampereen tk-alue
          Tkalue
5  Turun tk-alue
            Tkalue
31  Raahen tk-alue
       Tkalue
2  Ei tk-alue
          Tkalue
5  Turun tk-alue
                Tkalue
7  Savonlinnan tk-alue
       Tkalue
2  Ei tk-alue
           Tkalue
8  Rauman tk-alue
             Tkalue
24  Kuopion tk-alue
             Tkalue
24  Kuopion tk-alue
                   Tkalue
20  Lappeenrannan tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
4  Helsingin tk-alue
              Tkalue
15  Kajaanin tk-alue
       Tkalue
2  Ei tk-alue
                   Tkalue
20  Lappeenrannan tk-alue
       Tkalue
2  Ei tk-alue
          Tkalue
5  Turun tk-alue
              Tkalue
19  Joensuun tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue

2  Ei tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
              Tkalue
0  Tampereen tk-alue
          Tkalue
5  Turun tk-alue
                   Tkalue
20  Lappeenrannan tk-alue
                Tkalue
7  Savonlinnan tk-alue
       Tkalue
2  Ei tk-alue
               Tkalue
18  Seinäjoen tk-alue
       Tkalue
2  Ei tk-alue
           Tkalue
12  Porin tk-alue
            Tkalue
31  Raahen tk-alue
       Tkalue
2  Ei tk-alue
             Tkalue
24  Kuopion tk-alue
           Tkalue
28  Kemin tk-alue
              Tkalue
4  Helsingin tk-alue
              Tkalue
4  Helsingin tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
1  Alajärven tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
16  Iisalmen tk-alue
              Tkalue
15  Kajaanin tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
                Tkalue
7  Savonlinnan tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
       Tkalue
2  Ei tk-alue
             Tkalue
24  Kuopion tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
                   Tkalue
20  Lappeenrannan tk-alue
       Tkalue
2  Ei tk-alue
          Tkalue
5  Turun tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
0  Tampereen tk-alue
             Tkalue
24  Kuopion tk-alue
       Tkalue
2  Ei tk-alue
               Tkalue
27  Kauhajoen tk-alue
              Tkalue
19  Joensuun tk-alue
       Tkalue
2  Ei tk-alue
                Tkalue
11  Jyväskylän tk-alue
           Tkalue
28  Kemin tk-alue
          Tkalue
5  Turun tk-alue
             Tkalue
24  Kuopion tk-alue
              Tkalue
4  Helsingin tk-alue
          Tkalue
9  Oulun tk-alue
           Tkalue
12  Porin tk-alue
       Tkalue
2  Ei tk-alue
          Tkalue
9  Oulun tk-alue
       Tkalue
2  Ei tk-alue
                Tkalue
11  Jyväskylän tk-alue
       Tkalue
2  Ei tk-alue
                    Tkalue
29  Uudenkaupungin tk-alue
       Tkalue
2  Ei tk-alue
            Tkalue
21  Vaasan tk-alue
              Tkalue
0  Tampereen tk-alue
              Tkalue
4  Helsingin tk-alue
               Tkalue
22  Varkauden tk-alue
                    Tkalue
29  Uudenkaupungin tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
0  Tampereen tk-alue
              Tkalue
25  Kokkolan tk-alue
              Tkalue
16  Iisalmen tk-alue
              Tkalue
4  Helsingin tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
1  Alajärven tk-alue
            Tkalue
10  Kotkan tk-alue
       Tkalue
2  Ei tk-alue
                   Tkalue
6  Maarianhaminan tk-alue
            Tkalue
21  Vaasan tk-alue
       Tkalue
2  Ei tk-alue
       Tkalue
2  Ei tk-alue
              Tkalue
0  Tampereen tk-alue
             Tkalue
30  Loimaan tk-alue
       Tkalue
2  Ei tk-alue
                Tkalue
11  Jyväskylän tk-alue

0      None
1      None
2      None
3      None
4      None
       ...
305    None
306    None
307    None
308    None
309    None
Name: Tkalue, Length: 310, dtype: object

In [68]:
tkalue

     Kuntanumero      Kunta  Tkaluenumero              Tkalue
0             20       Akaa            14   Tampereen tk-alue
1              5   Alajärvi            27   Alajärven tk-alue
2              9  Alavieska            99          Ei tk-alue
3             10     Alavus            99          Ei tk-alue
4             16   Asikkala             4      Lahden tk-alue
..           ...        ...           ...                 ...
305          977  Ylivieska            99          Ei tk-alue
306          980   Ylöjärvi            14   Tampereen tk-alue
307          981      Ypäjä             9     Loimaan tk-alue
308          989     Ähtäri            99          Ei tk-alue
309          992  Äänekoski            30  Jyväskylän tk-alue

[310 rows x 4 columns]